.vscode/*
.env/*
.venv/*
__pycache__/*
build/*
*.pyc


report/**
!report/report.tex
!report/README.md
!report/figures/**
!report/**/*.png
!report/**/*.jpg
!report/**/*.pdf
!report/**/*.bib
!report/**/*.bbl